extends layout

block content
  //- h1 Login (#{username})

  form(method="post" action="/auth/login")
    div(class="form-container")
      div(class="text-box-container")
        label(for="username")
        input(class="text-box" type="text" name="username" id="username" placeholder="Input Username")
      div(class="text-box-container")
        label(for="password")
        input(class="text-box" type="password" name="password" id="password" placeholder="Input Password")
      div(class="submit-btn-container")
        input(class="submit-btn" src="/images/button_login.png" alt="Login" type="image" value="Login")
