extends layout

block content
  h1 Register (#{username})

  form(method="post" action="/auth/register")
    div
      label(for="username")
      input(type="text" name="username" id="username")
    div
      label(for="password")
      input(type="password" name="password" id="password")

    div 
      input(type="submit" value="Register")