html{
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: lightblue;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.home-btn > img{
  width: 100%;
  height: 100%;
  max-width: 261px;
  max-height: 88px;
  margin: 30px;
}

.home-btn:hover {
  opacity: 0.75;
}

.logo {
  background-image: url(/images/uno_logo.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;
  margin: 30px auto;
  display: block;
}

.button-container {
  text-align: center;
  margin-bottom: 16vh;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 70vh;
  height: 50vh;
  border-radius: 10px;
  text-align: center;
}

.text-box-container {
  padding: 20px;
  text-align: center;
}

.text-box {
  min-width: 250px;
  width: 50%;
  padding: 1rem;
}

.submit-btn-container {
  margin-left: auto;
  margin-right: auto;
  width: 241px;
  height: 88px;
  border-radius: 10px;
  background-color: black;
}

.submit-btn:hover {
  opacity: 0.75;
}


.footer {
  position: absolute;
  height: 8vh;
  width: 100%;
  padding: 1rem;
  background-color: black;
  bottom: 0;
}

.footer p{
  color: white;
  text-align: center;
}

player-hand{
  position: relative; 

}

.card {
  position: absolute;
  background-image: url("/images/uno_cards_sprite.png");
  height: 258px; 
  width: 176px;
}

.card:nth-child(2){
  left: 30px; 
}
.card:nth-child(3){
  left: 60px; 
}
.card:nth-child(4){
  left: 90px; 
}
.card:nth-child(5){
  left: 120px; 
}
.card:nth-child(6){
  left: 150px; 
}

.red {
  background-position-y: 0px;
}

.blue {
  background-position-y: -285px;
}

.yellow {
  background-position-y: -570px;
}

.green {
  background-position-y: -855px;
}

.black {
  background-position-y: -1140px;
}

/* select cards by x and y position */


.one {
  background-position-x: -200px;
}

.two {
  background-position-x: -400px;
}

.three {
  background-position-x: -600px;
}

.four {
  background-position-x: -800px;
}

.five {
  background-position-x: -1000px;
}

.special {
  background-position-x: 0px;
}














/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

