extends layout

block content
  h1 Game page(authenticated)
  h2 Game ID #{id}

  #game
    p waiting for all users to join #{joined_count} out of #{start_count}

  //- .player-hand
  //-   .card.one.red
  //-   .card.two.blue
  //-   .card.three.yellow
  //-   .card.four.green
  //-   .card.five.red
  //-   .card.special.black
    

       

  
