doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
        li
            a(href="/") Home (Unauthenticated page)
        li
            a(href="/lobby") Lobby
        li
            a(href="/games/42") Game page
    block content  

  footer(class="footer")
    p &copy; 2022 Team J - Uno With Friends 