extends layout

block content
  //h1 Lobby page 
  h1 Welcome #{username}##{user_id}!
  div
    h1 Create Game:
    ul
      li
        a(href="#") Create Game
  div
    h1 Current Game(s):
    ul
      li
        a(href="/games/42") Game 42
  div
    h1 Join Game(s):
    ul
      li
        a(href="/games/1") Game 1
      li
        a(href="/games/2") Game 2
      li
        a(href="/games/3") Game 3
  div
    h1 Global Chat:
    template#message-content
      .chat-message
        span.username
        span.message
        span.timestamp
        
    #chat
      #messages
      div 
        input#message(type="text")